<%-include("./partials/header")%>
<h2>Add a new product here</h2>
<form action="/" method="post" enctype="multipart/form-data">
    <div class="form-style">
        <label>Name</label>
        <input type="text" name="name" placeholder="Product's name">
        <label>Price</label>
        <input type="text" name="price" placeholder="Product's price">
        <label>Image</label>
        <input type="file" name="image" multiple accept="image/*">
        <label>product's description</label>
        <textarea name="description" placeholder="brief description about product"></textarea> 
        <button>Submit</button>
    </div>
</form>