<head>
    <link rel="stylesheet" href="stylesheet/cover.css">
</head>
<div class="productUser">
        <form>
            <input type="text" name="product" placeholder="search for a product">
            <button>search</button>
        </form>
        <form>
            <input type="text" name="user" placeholder="search for a user">
            <button>search</button>
        </form>
</div>
<div>
    <div class="rectangle">
        <div class="welcome">
            <h2>Welcome to Koye Agricultural Garden</h2>
            <p><a href="/register">sign-up here</a></p>
        </div>
    </div>
</div>
<div class="cover">
    <div class="headings">
        <h1>Welcome to Koye Agricultural Garden</h1>
        
        <h3>
            Available categories of Agricultural commodities at farm gate price
        </h3>

    </div>
        <ul>
            <li><a class="frontline" href="/livestocks"><h1>Livestocks</h1></a></li><hr>
            <li><a class="frontline" href="/seedlings"><h1>Seedlings</h1></a></li><hr>
            <li><a class="frontline" href="/vegetables"><h1>Vegetables</h1></a></li><hr>
            <li><a class="frontline" href="/food"><h1>Food</h1></a></li><hr>
            <li><a class="frontline" href="/farmequips"><h1>Farm equipments</h1></a></li><hr>
            <li><a class="frontline" href="/others"><h1>Others</h1></a></li><hr>
            <li><a class="frontline" href="/allproduct"><h1>Overall database</h1></a></li>
        </ul>
</div>
