<head>
    <link rel="stylesheet" href="stylesheet/cover.css">
</head>

<div class="cover">
    <h1>Welcome to Koye Agricultural Garden</h1>
    <div>
    <h3>Available categories of Agricultural commodities at farm gate price</h3>
        <ul>
            <li><a class="frontline" href="/livestocks">Livestocks</a></li>
            <li><a class="frontline" href="/seedlings">Seedlings</a></li>
            <li><a class="frontline" href="/vegetables">Vegetables</a></li>
            <li><a class="frontline" href="/food">Food</a></li>
            <li><a class="frontline" href="/farmequips">Farm equipments</a></li>
            <li><a class="frontline" href="/others">Others</a></li>
        </ul>
    </div>
</div>
