<%- include("../partials/header") %>
<h1>login page</h1>
    <form action="/login" method="POST">
        <div class="form-style">
            <label>Username</label>
            <input type="text" name="username" placeholder="username">
            <label>password</label>
            <input type="password" name="password" placeholder="password">
            <button>Submit</button>
        </div>
        
    </form>